FUNCTION EXAMPLES

In [2]:
def greet():
    print("Hello,World")

#Calling function
greet()

Hello,World

In [5]:
def greet(name):
    print(f"Hello, {name}!")

# call the function with argument
greet("Alice")

Hello, Alice!

In [6]:
def add(a, b):
    return a + b

#Call the functions with two arguments
result = add(5, 7)
print(result)

12

In [7]:
def mul(a, b):
    return a*b

result = mul(9,9)
print(result)

81

In [9]:
def introduce(name, age):
    print(f"My name is{name} and I am {age} years old.")

introduce(age = 35, name = "Vinay")

My name isVinay and I am 35 years old.

In [11]:
def greet(name = "Guest"):
    print(f"Hello, {name}!")
    
# Calling without argument uses the default value
greet()

# Calling with an argument overrides the default
greet("Alice")

Hello, Guest!
Hello, Alice!

In [31]:
def multiply(*args):
    result = 1
    for num in args:
        result *= num
    return result

# Call the function with a varying number of arguments
print(multiply(2, 3))      # Output: 6
print(multiply(2, 3, 4))   # Output: 24

6
24

In [36]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_info(name = "Alice", age = 25, city = "New York")

name: Alice
age: 25
city: New York

In [42]:
add = lambda x, y: x+y
print(add(3,5))

8

In [44]:
add = lambda x, y: x*y
print(mul(3,5))

15

In [49]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

# Call the recursive function
print(factorial(5))

120

In [50]:
def apply_twice(func, value):
    return func(func(value))

def add_five(x):
    return x + 5

# Call apply_twice with add_five as the function
print(apply_twice(add_five, 10))  # Output: 20

20