PYTHON SET

In [4]:
Days = {"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"}
print(Days)
print(type(Days))
print("looping through the set elements..")
for i in Days:
    print(i)

{'Friday', 'Wednesday', 'Tuesday', 'Thursday', 'Monday', 'Sunday', 'Saturday'}
<class 'set'>
looping through the set elements..
Friday
Wednesday
Tuesday
Thursday
Monday
Sunday
Saturday

In [5]:
Days = set(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
print(Days)
print(type(Days))
print("looping through the set elements...")
for i in Days:
    print(i)

{'Saturday', 'Wednesday', 'Sunday', 'Friday', 'Monday', 'Tuesday', 'Thursday'}
<class 'set'>
looping through the set elements...
Saturday
Wednesday
Sunday
Friday
Monday
Tuesday
Thursday

In [6]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))  set5 = {1,2,4,4,5,8,9,9,10}  
print("Return set with unique elements:",set5)

<class 'dict'>
<class 'set'>

In [7]:
set5 = {1,2,4,4,5,8,9,9,10}  
print("Return set with unique elements:",set5)

Return set with unique elements: {1, 2, 4, 5, 8, 9, 10}

In [9]:
#Using add() method
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nAdding other months to the set...");    
Months.add("July");    
Months.add ("August");    
print("\nPrinting the modified set...");    
print(Months)    
print("\nlooping through the set elements ... ")    
for i in Months:    
    print(i)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Adding other months to the set...

Printing the modified set...
{'February', 'May', 'June', 'January', 'April', 'July', 'March', 'August'}

looping through the set elements ...
February
May
June
January
April
July
March
August

In [10]:
#Using update() function
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nupdating the original set ... ")    
Months.update(["July","August","September","October"]);    
print("\nprinting the modified set ... ")     
print(Months);

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

updating the original set ...

printing the modified set ...
{'February', 'May', 'June', 'January', 'April', 'July', 'October', 'March', 'August', 'September'}

In [11]:
#Using discard() method
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.discard("January");    
months.discard("May");    
print("\nPrinting the modified set...");    
print(months)    
print("\nlooping through the set elements ... ")    
for i in months:    
    print(i)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Removing some months from the set...

Printing the modified set...
{'February', 'June', 'April', 'March'}

looping through the set elements ...
February
June
April
March

In [14]:
#Using remove() function
months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(months)    
print("\nRemoving some months from the set...");    
months.remove("January");    
months.remove("May");    
print("\nPrinting the modified set...");    
print(months)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Removing some months from the set...

Printing the modified set...
{'February', 'June', 'April', 'March'}

In [15]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Removing some months from the set...

Printing the modified set...
{'June', 'January', 'April', 'March'}

In [16]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving all the items from the set...");    
Months.clear()    
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Removing all the items from the set...

Printing the modified set...
set()

In [17]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving items through discard() method...");    
Months.discard("February");    
print("\nprinting the modified set...")    
print(Months)    
print("\nRemoving items through remove() method...");    
Months.remove("January")      
print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'February', 'May', 'June', 'January', 'April', 'March'}

Removing items through discard() method...

printing the modified set...
{'May', 'June', 'January', 'April', 'March'}

Removing items through remove() method...

Printing the modified set...
{'May', 'June', 'April', 'March'}

In [20]:
#using union | operator   
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

{'Friday', 'Saturday', 'Wednesday', 'Monday', 'Sunday', 'Tuesday', 'Thursday'}

In [21]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

{'Friday', 'Saturday', 'Wednesday', 'Monday', 'Sunday', 'Tuesday', 'Thursday'}

In [22]:
# Create three sets  
set1 = {1, 2, 3}  
set2 = {2, 3, 4}  
set3 = {3, 4, 5}  
  
# Find the common elements between the three sets  
common_elements = set1.union(set2, set3)  
  
# Print the common elements  
print(common_elements)

{1, 2, 3, 4, 5}

In [23]:
#Using & operator
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

{'Monday', 'Tuesday'}

In [24]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

{'Martin', 'David'}

In [25]:
set1 = {1,2,3,4,5,6,7}  
set2 = {1,2,20,32,5,9}  
set3 = set1.intersection(set2)  
print(set3)

{1, 2, 5}

In [26]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

{'Wednesday', 'Thursday'}

In [27]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [28]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [29]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

In [30]:
#Write a program to remove the given number from the set.

my_set = {1,2,3,4,5,6,12,24}  
n = int(input("Enter the number you want to remove"))  
my_set.discard(n)  
print("After Removing:",my_set)

Enter the number you want to remove 5

After Removing: {1, 2, 3, 4, 6, 12, 24}

In [31]:
#Write a program to add multiple elements to the set.

set1 = set([1,2,4,"John","CS"])  
set1.update(["Apple","Mango","Grapes"])  
print(set1)

{1, 2, 4, 'Mango', 'Apple', 'CS', 'Grapes', 'John'}

In [32]:
#Write a program to find the union between two set.

set1 = set(["Peter","Joseph", 65,59,96])  
set2  = set(["Peter",1,2,"Joseph"])  
set3 = set1.union(set2)  
print(set3)

{'Joseph', 65, 96, 1, 2, 'Peter', 59}

In [33]:
#Write a program to find the intersection between two sets.

set1 = {23,44,56,67,90,45,"Javatpoint"}  
set2 = {13,23,56,76,"Sachin"}  
set3 = set1.intersection(set2)  
print(set3)

{56, 23}

In [34]:
#Write the program to find the issuperset, issubset and superset.

set1 = set(["Peter","James","Camroon","Ricky","Donald"])  
set2 = set(["Camroon","Washington","Peter"])  
set3 = set(["Peter"])  
  
issubset = set1 >= set2  
print(issubset)  
issuperset = set1 <= set2  
print(issuperset)  
issubset = set3 <= set2  
print(issubset)  
issuperset = set2 >= set3  
print(issuperset)

False
False
True
True