LISTS

In [1]:
list1 = [1,2,"Python","Program",15.9]
list2 = ["Vinay","Vikas","Ayan","Reyansh"]
print(list1)
print(list2)


#printing the type of list
print(type(list1))
print(type(list2))

[1, 2, 'Python', 'Program', 15.9]
['Vinay', 'Vikas', 'Ayan', 'Reyansh']
<class 'list'>
<class 'list'>

In [2]:
# example  
a = [ 1, 2, "Ram", 3.50, "Rahul", 5, 6 ]    
b = [ 1, 2, 5, "Ram", 3.50, "Rahul", 6 ]    
a == b

False

In [3]:
# example  
a = [ 1, 2, "Ram", 3.50, "Rahul", 5, 6]    
b = [ 1, 2, "Ram", 3.50, "Rahul", 5, 6]    
a == b

True

In [4]:
# list example in detail  
emp = [ "John", 102, "USA"]       
Dep1 = [ "CS",10]    
Dep2 = [ "IT",11]      
HOD_CS = [ 10,"Mr. Holding"]      
HOD_IT = [11, "Mr. Bewon"]      
print("printing employee data ...")      
print(" Name : %s, ID: %d, Country: %s" %(emp[0], emp[1], emp[2]))      
print("printing departments ...")     
print("Department 1:\nName: %s, ID: %d\n Department 2:\n Name: %s, ID: %s"%( Dep1[0], Dep2[1], Dep2[0], Dep2[1]))      
print("HOD Details ....")      
print("CS HOD Name: %s, Id: %d" %(HOD_CS[1], HOD_CS[0]))      
print("IT HOD Name: %s, Id: %d" %(HOD_IT[1], HOD_IT[0]))      
print(type(emp), type(Dep1), type(Dep2), type(HOD_CS), type(HOD_IT))

printing employee data ...
 Name : John, ID: 102, Country: USA
printing departments ...
Department 1:
Name: CS, ID: 11
 Department 2:
 Name: IT, ID: 11
HOD Details ....
CS HOD Name: Mr. Holding, Id: 10
IT HOD Name: Mr. Bewon, Id: 11
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [6]:
list = [1,2,3,4,5,6,7]    
print(list[0])    
print(list[1])    
print(list[2])    
print(list[3])    
# Slicing the elements    
print(list[0:6])    
# By default, the index value is 0 so its starts from the 0th element and go for index -1.    
print(list[:])    
print(list[2:5])    
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [7]:
# updating list values  
list = [1, 2, 3, 4, 5, 6]       
print(list)       
# It will assign value to the value to the second index     
list[2] = 10     
print(list)      
# Adding multiple-element     
list[1:3] = [89, 78]       
print(list)     
# It will add value at the end of the list    
list[-1] = 25    
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

Adding elements to the list

In [8]:
#Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the item:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

Enter the number of elements in the list: 5
Enter the item: 23
Enter the item: 12
Enter the item: 33
Enter the item: 21
Enter the item: 24

printing the list items..
23  12  33  21  24

In [19]:
list = [0,1,2,3,4]       
print("printing original list: ");      
for i in list:      
    print(i,end=" ")      
list.remove(2)      
print("\nprinting the list after the removal of first element...")      
for i in list:      
    print(i,end=" ")

printing original list:
0 1 2 3 4
printing the list after the removal of first element...
0 1 3 4

LIST Built in Functions

In [21]:
# size of the list  
# declaring the list  
list1 = [12, 16, 18, 20, 39, 40]  
# finding length of the list  
len(list1)

6

In [22]:
# maximum of the list  
list1 = [103, 675, 321, 782, 200]  
# large element in the list  
print(max(list1))

782

In [24]:
# minimum of the list  
list1 = [103, 675, 321, 782, 200]  
# smallest element in the list  
print(min(list1))

103