Python Built-In Functions

In [1]:
#Python abs() Function Example
#  integer number     
integer = -20  
print('Absolute value of -40 is:', abs(integer))  
  
#  floating number  
floating = -20.83  
print('Absolute value of -40.83 is:', abs(floating))

Absolute value of -40 is: 20
Absolute value of -40.83 is: 20.83

In [2]:
#Python all() Function
# all values true  
k = [1, 3, 4, 6]  
print(all(k))  
  
# all values false  
k = [0, False]  
print(all(k))  
  
# one false value  
k = [1, 3, 7, 0]  
print(all(k))  
  
# one true value  
k = [0, False, 5]  
print(all(k))  
  
# empty iterable  
k = []  
print(all(k))

True
False
False
False
True

In [3]:
x =  10  
y =  bin(x)  
print (y)

0b1010

In [4]:
#Python bool()
test1 = []  
print(test1,'is',bool(test1))  
test1 = [0]  
print(test1,'is',bool(test1))  
test1 = 0.0  
print(test1,'is',bool(test1))  
test1 = None  
print(test1,'is',bool(test1))  
test1 = True  
print(test1,'is',bool(test1))  
test1 = 'Easy string'  
print(test1,'is',bool(test1))

[] is False
[0] is True
0.0 is False
None is False
True is True
Easy string is True

In [5]:
#Python bytes()
string = "Hello World."  
array = bytes(string, 'utf-8')  
print(array)

b'Hello World.'

In [6]:
#Python callable() Function Example

x = 8  
print(callable(x))

False

In [9]:
#Python any() Function Example

l = [4, 3, 2, 0]                              
print(any(l))                                   
  
l = [0, False]  
print(any(l))  
  
l = [0, False, 5]  
print(any(l))  
  
l = []  
print(any(l))

True
False
True
False

In [10]:
#Python ascii() Function Example

normalText = 'Python is interesting'  
print(ascii(normalText))  
  
otherText = 'Pyth�n is interesting'  
print(ascii(otherText))  
  
print('Pyth\xf6n is interesting')

'Python is interesting'
'Pyth\ufffdn is interesting'
Pythön is interesting

In [11]:
#Python bytearray() Example

string = "Python is a programming language."  
  
# string with encoding 'utf-8'  
arr = bytearray(string, 'utf-8')  
print(arr)

bytearray(b'Python is a programming language.')

In [12]:
#Python eval() Function Example

x = 8  
print(eval('x + 1'))

9

In [15]:
#Python float() Example

# for integers  
print(float(9))  
  
# for floats  
print(float(8.19))  
  
# for string floats  
print(float("-24.27"))  
  
# for string floats with whitespaces  
print(float("     -17.19\n"))

9.0
8.19
-24.27
-17.19

In [16]:
#Python format() Function Example

# d, f and b are a type  
  
# integer  
print(format(123, "d"))  
  
# float arguments  
print(format(123.4567898, "f"))  
  
# binary format  
print(format(12, "b"))

123
123.456790
1100

In [17]:
#Python frozenset() Example

# tuple of letters  
letters = ('m', 'r', 'o', 't', 's')  
  
fSet = frozenset(letters)  
print('Frozen set is:', fSet)  
print('Empty frozen set is:', frozenset())

Frozen set is: frozenset({'s', 'm', 'o', 't', 'r'})
Empty frozen set is: frozenset()

In [18]:
#Python getattr() Function Example

class Details:  
    age = 22  
    name = "Phill"  
  
details = Details()  
print('The age is:', getattr(details, "age"))  
print('The age is:', details.age)

The age is: 22
The age is: 22

In [19]:
#Python globals() Function Example

age = 22  
  
globals()['age'] = 22  
print('The age is:', age)

The age is: 22

In [20]:
#Python iter() Function Example

# list of numbers  
list = [1,2,3,4,5]  
  
listIter = iter(list)  
  
# prints '1'  
print(next(listIter))  
  
# prints '2'  
print(next(listIter))  
  
# prints '3'  
print(next(listIter))  
  
# prints '4'  
print(next(listIter))  
  
# prints '5'  
print(next(listIter))

1
2
3
4
5